---
let {
	allInOneCardTitle,
	allInOneCardDescription,
	allInOneCardImageURL,
	allInOneCardImageAlt,
	allInOneCardUniqClass
} = Astro.props

---

<div class="all-in-one-card">
	<div class="all-in-one-card__text">
		<h4 class="all-in-one-card__title">{allInOneCardTitle}</h4>
		<p class="all-in-one-card__description text-muted">{allInOneCardDescription}</p>
	</div>
	<div class="all-in-one-card__image">
		<img src={allInOneCardImageURL} alt={allInOneCardImageAlt} class={`${allInOneCardUniqClass}__picture all-in-one-card__picture`}>
	</div>
</div>