---
let {
	allInOneCardTitle,
	allInOneCardDescription,
	allInOneCardImageURL,
	allInOneCardImageAlt,
	allInOneCardUniqClass
} = Astro.props

---

<div class={`all-in-one-card ${allInOneCardUniqClass}`}>
	<div class="all-in-one-card__text">
		<h4 class="all-in-one-card__title">{allInOneCardTitle}</h4>
		<p class="all-in-one-card__description section-description section-description--small text-muted">{allInOneCardDescription}</p>
	</div>
	<div class={`all-in-one-card__image all-in-one-card__image--${allInOneCardUniqClass}`}>
		<img src={allInOneCardImageURL} alt={allInOneCardImageAlt} class="all-in-one-card__picture">
	</div>
</div>