---
import AccountsCard from "@components/accounts/generic/AccountsCard.astro";
import accounts from "@data/accounts.js"
---

<section class="compare-accounts">
	<div class="compare-accounts__inner container container--wide">
		<ul role="list" aria-label="accounts list" class="accounts-choose__list">
			{accounts.map(account => (
				<li class="accounts-choose__list-item">
					<AccountsCard account = {account}/>
					<div class="compare-accounts__features">
						{account.features.map(featureGroup => (
							<div class="compare-accounts__features-group">
								<h5 class="compare-accounts__features-group-title">{featureGroup.title}</h5>
								<ul class="compare-accounts__features-group-list">
									{featureGroup.features.map(feature => (
										<li class="compare-accounts__features-group-list-item">
											<div class="compare-accounts__feature data-class">
												<h6 class="compare-accounts__feature-title">{feature.title}</h6>
												<p class="compare-accounts__feature-description">{feature.description}</p>
											</div>
											{feature.value === true ?
											<span class="compare-accounts__feature-value check-icon-primary"></span> :
											feature.value === false ?
											<span class="compare-accounts__feature-value">-</span> :
											<span class="compare-accounts__feature-value">{feature.value}</span>
											}
										</li>
									))}
								</ul>
							</div>
						))}
					</div>
				</li>
			))}
		</ul>
	</div>
</section>