---
let {
	accountLinkTitle,
	accountLinkDescription,
	accountLinkImageURL,
	accountLinkTagClass
} = Astro.props
---

<a href="/compare">
	<h4 class={`account-link-title dif tac h6 ${accountLinkTagClass}`}>{accountLinkTitle}</h4>
	<p class="account-link-description text-muted">{accountLinkDescription}</p>
	<img src={accountLinkImageURL} alt={`${accountLinkTitle} Card`} class="account-link-picture">
</a>