---
const { account } = Astro.props;
---

<h4 class={"account-card-title h6 " + (account.popular ? 'popular-pseudo' : '')}>{account.title}</h4>
<span class="account-card-price tac text-muted mb-0_5">
	<span class="account-card-price-value">{account.price}</span> {(!(account.price == 'Free') ? 'per month' : '')}
</span>
<p class="account-card-description tac text-muted mb-1_5">{account.description.extended}</p>
<img src={account.imageURL} alt={`${account.title} Card`} class="account-card-picture mb-1_5">
<a href="#" class="account-link-button button button--narrow button-primary">Get started</a>