---
let {
	appSectionTag,
	appSectionTitle,
	appSectionDescription,
	appSectionFeature_1,
	appSectionFeature_2,
	appSectionFeature_3,
	appSectionImageURL,
	appSectionImageRetinaURL
} = Astro.props

---

<section class={(appSectionTag.toLowerCase().replace(/\s+/g, '-')) + "-app app-section"}>
	<div class="app-section__inner container">
		<div class="app-section__text">
			<span class="app-section__tag section-tag">{appSectionTag}</span>
			<h2 class="app-section__title h3">{appSectionTitle}</h2>
			<p class="app-section__description section-description section-description--small">{appSectionDescription}</p>
			<ul role="list" aria-label={`${appSectionTag} features list`} class="app-section section-features section-features--small">
				<li class="app-section section-feature check-icon-primary">{appSectionFeature_1}</li>
				<li class="app-section section-feature check-icon-primary">{appSectionFeature_2}</li>
				<li class="app-section section-feature check-icon-primary">{appSectionFeature_3}</li>
			</ul>
		</div>
		<div class="app-section__image dn minw55-db">
			<img src={appSectionImageURL} srcset={`${appSectionImageRetinaURL} 2x`} loading="lazy" alt={`${appSectionTag} App`} class="app-section__picture">
		</div>
	</div>
</section>