---
import {generateTagData} from '../utilities/helpers.js'

const { post } = Astro.props;
const postTags = post.frontmatter.tags;
const tagData = generateTagData(postTags);
---

<li class="post">
	<div class="post__image">
		<a href={post.url} class="post__image-link">
			<img src={post.frontmatter.image} class="post__image-picture">
		</a>
	</div>
	<div class="post__text">
		<a href={post.url} class="post__text-link">
			<h4 class="post__title">{post.frontmatter.title}</h4>
			<p class="post__description">{post.frontmatter.description}</p>
		</a>
		<ul role="list" aria-label="tags list" class="post__tags">
			{tagData.map(tag => (
				<li class="post__tag">
					<a href={`/blog/${tag.slug}`} class="post__tag-link tag">{tag.name}</a>
				</li>
			))}
		</ul>
	</div>
</li>