---
import {generatePData} from '@utilities/helpers.js'

const { testimonial } = Astro.props;
const pData = generatePData(testimonial, 5)
---

<article class="testimonials-card border-card">
	<img src={`./assets/images/testimonial-rating-${testimonial.rating}.svg`} alt="Testimonial Rating" class="testimonials-card__rating">
	<h4 class="testimonials-card__title h5 mt-0_5">{testimonial.title}</h4>
	{pData.map(p => (
		<p class="testimonials-card__content">{p}</p>
	))}
	<div class="testimonials-card__author">
		<h5 class="testimonials-card__name h7 mt-1_5">{testimonial.author}</h5>
		<span class="testimonials-card__profession text-muted">{testimonial.sumP}</span>
	</div>
</article>